* {
  font-family: $primary-font;
}
.error-msg {
  color: red;
}
.brand-color{
  color : $brandColor!important;
}
.navbar {
  .navbar-brand{
    h3{
      font-size: 24px;
      font-weight: 700;
      color: $brandColor;
    }
  }
}
.exact-active {
  // background: $brandColor;
  // border-radius: 0.25rem;
  // color: white;
  background-color: #292929;
    color: #fff;
}
.media{
  align-items: center;
  img{
    border-radius: 5px;
  }
}
//Loading Snipper
.loader-wrapper{
  width : 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
//Equal height cards
.eq-height-cards{
  display: flex;
  height: 100%;
  flex-direction: column;

  .card-footer{
    margin-top: auto;
  }
}