//Font Import
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap');
@import url('https://unpkg.com/bulma@0.9.0/css/bulma.min.css');
@import url('https://use.fontawesome.com/releases/v5.2.0/css/all.css');
//Font
$primary-font : 'Quicksand', sans-serif;

//Login - Registration 
$brandColor: hsl(166, 67%, 51%);
$background: rgb(247, 247, 247);
$textDark: hsla(0, 0%, 0%, 0.66);
$textLight: hsla(0, 0%, 0%, 0.33);

//Breakpoints
$tablet : '769px';